/*Слайдер для главной страницы*/

.main__slider {
    text-align: center;
    position: relative;
}

.main__slider-inner {
    display: flex;
    transition: 0.5s;

}

.main__slider-wrapper {
    overflow: hidden;
    box-shadow: 2px 4px 20px #3b3a3a;
}

.main__slide img, .main__slider-wrapper {
    width: 1330px;
    height: 665px;
    display: block;
    margin: auto;
}

.arrow-left,
.arrow-right {
    margin: 20px 8px;
    border-radius: 50%;
    border: 1px solid rgb(128, 146, 161);
    width: 45px;
    height: 45px;
    cursor: pointer;
    box-shadow: 0 0 12px 4px #BFE2FF;
    background: radial-gradient(#fff, #BFE2FF);
    cursor: pointer;
    position: absolute;
}

.arrow-right {
    right: 20px;
    top: 300px;
    z-index: 1;
    opacity: .2;
}

.arrow-left {
    left: 20px;
    top: 300px;
    z-index: 1;
    opacity: .2;
}

.arrow-left path,
.arrow-right path {
    fill: rgba(86, 112, 134, 0.6);
    stroke-width: 2;
    stroke: #2e6e99;
    transition: fill 0.4s ease-out;
}

.arrow-right {
    transform: rotate(180deg);
}

.arrow-left:hover path,
.arrow-right:hover path {
    fill: #032149;
}

.dots {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 10px;
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.dots li {
    width: 20px;
    height: 10px;
    flex: 0 1 auto;
    border-radius: 25%;
    border: 1px solid rgb(81, 119, 148);
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    opacity: .4;
    background-color: #788dc2;
}