.base-wrap{
    display: grid;
    grid-template-columns: 0.75fr;
    grid-template-rows: 50px 110px 105px auto auto;
    grid-template-areas:
        "nvb"
        "hd "
        "menu"
        "main"
        "ft";
    justify-content: center;
    background: linear-gradient(rgb(236, 238, 236), rgb(180, 228, 167));
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

.navbar {
    display: flex;
    grid-area: nvb;
    border: 1px solid rgb(123, 136, 129);
    padding-left: 20%;
    padding-top: 10px;
    grid-gap: 20px;
    background-color: rgb(171, 223, 203);
    font-size: 18px;
}

.navbar a {
    color: rgb(63, 61, 61);
}

.navbar__login, .navbar__profile {
    padding-left: 45%;
}

.navbar__login, .navbar__profile, .navbar__logout {
    color: #000;
    font-weight: bold;
}

.header {
    grid-area: hd;
    border: 1px solid rgb(105, 112, 108);
    text-align: left;
    padding-left: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    background-color: rgb(109, 184, 162);
    
}

.header__logo img {
    width: 120px;
    height: 90px;
}

.header__text {
    font-weight: bold;
    font-size: 28px;
    margin-left: 70px;
    margin-top: 30px;
}

.menu {
    display: flex;
    grid-area: menu;
    border: 1px solid rgb(141, 153, 145);
    border-bottom: 1px solid rgb(177, 192, 182);
    justify-content: center;
    padding-left: 200px;
    background-color: rgb(216, 238, 221);
}

.menu__item {
    border: 1px solid rgb(36, 87, 23);
    border-radius: 20%;
    font-size: 19px;
    padding: 15px;
    height: fit-content;
    margin: 20px;
    margin-top: 24px;
    box-shadow: 0 4px 16px #747070;
    background-color: rgb(229, 235, 209);
    color: rgb(65, 18, 18);
    font-weight: bold;
}

.menu__item:hover {
    box-shadow: 0 4px 16px #79c4ab;
    transform: scale(1.04);
    transition: 0.5s;
}

.menu__basket {
    margin-top: 18px;
    margin-left: auto;
    padding-right: 100px;
    color: rgb(23, 23, 68);
}

.menu__basket_photo {
    position: relative;
}

.menu__basket_photo > span {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    position: absolute;
    color: black;
    border-radius: 100%;
    border: 2px #00B344  solid;
    text-align: center;
    font-size: 17px;
    padding: 1px;
    background-color: #7FFFD4;
}

.footer {
    grid-area: ft;
    border: 1px solid rgb(170, 177, 170);
    font-size: 17px;
    padding: 15px;
    text-align: center;
    background-color: rgb(201, 236, 215);
}

.content {
    grid-area: main;
    border: 1px solid rgb(170, 177, 170);
    padding: 19px 20px;
    background-color: white;
    min-height: 100vh;
}

.about, .contacts, .faq {
    font-size: 18px;
    text-indent: 30px;
    line-height: 1.5;
}

.main__new_products, 
.main__popular_products {
    margin-top: 60px;
}

.main__new_products-wrapper,
.main__popular_products-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.main__new_product,
.main__popular_product {
    border: 1px solid rgb(26, 53, 26);
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 16px #4e4848;
    transition: 0.5s;
    padding: 10px;
    background-color: white;
    padding-bottom: 20px;
}

.main__new_product:hover, 
.main__popular_product:hover {
    box-shadow: 0 4px 16px #a72b2b;
    transform: scale(1.04);
}

.main__new_product-image,
.main__popular_product-image {
    width: 100%;
    height: 75%;
}

.main__new_product-image_label,
.main__popular_product-image_label {
    width: 50px;
    height: 30px;
    right: 5px;
    top: 0px;
    z-index: 10;
    position: absolute;
}

.main__new_product-name,
.main__popular_product-name {
    font-size: 16px;
    margin-top: 5px;
    color: rgb(23, 23, 128);
    line-height: 1.5;
}

.main__new_product p,
.main__popular_product p {
    font-size: 18px;
    font-weight: bold;
}

.main__about {
    margin: 80px 100px 30px;
    border: 2px solid rgb(231, 141, 7);
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(230, 238, 222);
}

.main__about-text {
    font-size: 19px;
    text-indent: 30px;
    line-height: 1.5;
}

.manufacturers-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 10px;
}

.manufacturers__item {
    border: 1px solid rgb(163, 108, 56);
    font-family: cursive;
    font-weight: bold;
    font-size: 18pt;
    color: rgb(11, 91, 128);
    padding: 10px;
    box-shadow: 4px 4px 6px #969191;
}

/*Строка с маршрутом страниц */
.pages_route {
    font-size: 14px;
}

.pages_route a {
    color: rgb(63, 63, 87);
}

/*Категории товаров*/
.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 10px;
}

.categories__link{
    border: 2px solid rgb(207, 216, 203);
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 0 4px 16px #ccc;
    text-align: center;
}

.categories__link:hover {
    border: 2px solid rgb(226, 139, 7);
    box-shadow: 0 4px 16px #8b6f31;
}

.categories__image{
    width: 80%;
    height: 80%;
}

.categories__label{
    font-family: cursive;
    font-size: 18pt;
    font-weight: bold;
    color: rgb(24, 24, 133);
    margin-top: 10px;
}

/*Подкатегории товаров*/
.subcategories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 10px;
}

.subcategories__link {
    border: 2px solid rgb(215, 223, 211);
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 20px;
    box-shadow: 0 4px 16px #ccc;
    text-align: center;
}

.subcategories__link:hover {
    border: 2px solid rgb(226, 139, 7);
    box-shadow: 0 4px 16px #8b6f31;
}

.subcategories__image {
    width: 80%;
    height: 80%;
}

.subcategories__label {
    margin: 10px;
    font-family: cursive;
    font-weight: bold;
    font-size: 18pt;
    color: rgb(24, 24, 133);
    margin-top: 5px;
}

/*Товары*/
.products-wrap {
    display: flex;
}

.products-list {
    display: grid;
    flex: 85%;
    height: fit-content;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin: 5px;
}

.products__item-name {
    color: rgb(24, 24, 133);
    font-size: 16px;
    line-height: 1.5;
}

.products-sorted select {
    padding: 4px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(176, 196, 197);
}

.products-sorted select:hover {
    border-color: rgb(7, 236, 198);
}

.products-list__item {
    border: 1px solid rgb(196, 204, 192);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 1px 12px #9c9790;
    min-width: 200px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products-list__item:hover {
    box-shadow: 0px 1px 14px #613e09;
    transform: scale(1.01);
    transition: 0.5s;
}

.product__item-price {
    font-weight: bold;
    font-size: 18px;
    margin-top: 8px;
}

.products-list__item-parameters {
    padding-top: 5px;
    font-size: 15px;
    line-height: 1.3;
}

.lowercase_category{
    text-transform: lowercase;
}

.image-product{
    width: 100%;
    /*max-height: 300px;*/
    /*min-height: 280px;*/
    height: 290px;
}

.product-filter {
    flex: 15%;
    border: 1px solid rgb(170, 123, 103);
    border-radius: 8px;
    font-size: 13pt;
    box-shadow: 1px 4px 14px #9c9790;
    background-color: rgb(244, 245, 243);
    margin-left: 20px;
    padding: 3px;
}

.product-filter div p {
    font-weight: bold;
}

.product-filter__header {
    font-size: 15pt;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 5px;
}

.product-filter__label {
    margin-left: 10px;
    margin-right: 14px;
    margin-bottom: 50px;
}

.product-filter__manufacturer,
.product-filter__checkbox {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.product-filter__manufacturer .checkboxes, 
.product-filter__checkbox .checkboxes {
    display: flex;
    flex-direction: column;
}

.checkboxes label{
    margin-bottom: 8px;
}

.products_basket {
    font-size: 12pt;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 4px;
    
}

.add_to_basket,
.already_in_basket {
    font-size: 12pt;
    padding: 4px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #054618;
    font-style: italic;
    box-shadow: 0 2px 14px #c0aeae;
    font-size: 16px;
}

.add_to_basket {
    background-color: #e4d0a6;
}

.already_in_basket {
    background-color: #bee2a9;
}

.add_to_basket:hover, 
.already_in_basket:hover {
    transform: scale(1.07);
    transition: 0.5s;
    box-shadow: 0 4px 16px #8dc492;
}

.basket__product_image {
    max-width: 50%;
    max-height: 150px;
}

.basket {
    border-collapse: collapse;
}

.basket td,
.basket th {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px 60px 20px 0px;
}

.basket td {
    font-size: 18px;
    line-height: 1.5;
}

.basket td a {
    color: rgb(5, 24, 32);
}

.basket .total td {
    font-size: 19px;
    font-weight: bold;
    padding: 0;
    padding-top: 30px;
    border-bottom: none;
    white-space: nowrap;
}

.basket__update_quantity_form {
    padding-top: 20px;
}

.basket__update_quantity_form select {
    font-size: 16px;
}

.basket_ordering td {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    border-bottom: none;
    white-space: nowrap;
    text-align: left;
}

.basket_login {
    font-size: 18px;
}

.basket_login a {
    font-weight: bold;
    color: rgb(192, 98, 11);
}

.basket_ordering td a {
    color:rgb(167, 104, 54);
}

.basket_ordering td a:hover {
    color: rgb(18, 177, 26);
}

/*Подробности товара*/

.image-product-in {
    width: 70%;
    height: 70%;
    max-height: 600px;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
 
}

.images-product-other {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.images-product-other__item {
    width: 30%;
    height: 100%;
    box-shadow: 0 4px 16px #968a86;
    border-radius: 5px;
    margin-right: 20px;
}

.images-product-other__item:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.product-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    font-size: 16pt;
    margin-bottom: 30px;
}

.product-header .product-name {
    font-weight: bold;
}

.product-price {
    font-weight: bold;
}

.product-basket {
    font-size: 12pt;
    margin-top: 15px;
    padding: 4px;
}

.product-add_to_basket,
.product-already_in_basket {
    font-size: 12pt;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #054618;
    font-style: italic;
    box-shadow: 0 4px 16px #c0aeae;
    font-size: 16px;
}

.product-add_to_basket {
    background-color: #e4d0a6;
}

.product-already_in_basket {
    background-color: #bee2a9;
}

.product-add_to_basket:hover,
.product-already_in_basket:hover {
    transform: scale(1.07);
    transition: 0.5s;
    box-shadow: 0 4px 16px #8dc492;
}

.product-header__item-right {
    margin-top: 50px;
}

.product-descr {
    font-size: 15pt;
    margin-top: 50px;
}

.product-descr__in{
    font-size: 14pt;
    padding: 20px;
    line-height: 1.5;
    text-indent: 30px;
}

.product-details{
    font-size: 15pt;
    margin-top: 30px;
}

.product-details__in {
    line-height: 1.5;
    font-size: 14pt;
    font-style: italic;

}

.product-write_comment > p {
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
}

/*Личный кабинет клиента*/

.customer-hello {
    font-size: 18px;
}

.customer-personal {
    line-height: 1.5;
    margin-top: 35px;
    font-size: 17px;
}

.customer-personal button {
    font-size: 14px;
    box-shadow: 0 2px 5px #c0aeae;
}

.edit_customer_profile_more {
    margin-top: 50px;
    line-height: 1.5;
}

.edit_customer_profile_more a {
    color: #0b0b33;
}

.edit_customer_profile_more a:hover {
    color: #b95909;
}

.customer-delivery {
    margin-top: 35px;
}

.customer-delivery .edit_profile {
    margin-top: 15px;
    font-size: 14px;
    box-shadow: 0 2px 5px #c0aeae;
    margin-bottom: 32px;
}

.table-customer-delivery {
  font-size: 16px;
  background: white;
  max-width: 70%;
  width: 60%;
  border-collapse: collapse;
  text-align: left;
}

.table-customer-delivery td {
  color: rgb(60, 60, 73);
  padding: 9px 8px;
  transition: .3s linear;
  border-bottom: 1px solid #ccc;
  width: 30%;
}
.table-customer-delivery tr:hover td {
  color: #6699ff;
}

.table-orders {
  font-size: 16px;
  font-style: italic;
  background: white;
  width: 95%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 25px;
  border-spacing: 50px;
}

.table-orders td {
  color: #00008B;
  padding: 9px 8px;
  transition: .3s linear;
  border-bottom: 1px solid #ccc;

}

.table-orders tbody tr:hover{
  background: #B0E0E6;
}

.table-orders th{
  color: #2F4F4F;
  padding-bottom: 15px;
}

.completed_order-table {
    border-collapse: collapse;
    width: 85%;
}

.completed_order-table td,
.completed_order-table th {
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px 60px 20px 0px;
}

.completed_order-table td {
    font-size: 18px;
    line-height: 1.5;
}

.completed_order-table td a {
    color: rgb(5, 24, 32);
}

.completed_order-table .total td {
    font-size: 19px;
    padding: 0;
    padding-top: 30px;
    border-bottom: none;
    white-space: nowrap;
    line-height: 1;
}

.completed_order_info {
    line-height: 1.5;
    font-size: 18px;
}

.order-tracking{
border: 2px solid black;
border-radius: 8px;
height: auto;
width: 600px;
margin-top: 30px;
margin-bottom: 35px;
margin-left: 50px;
box-shadow: 4px 8px 14px #b9b4b4;
}

.order-tracking__circle{
height: 20px;
width: 20px;
border-radius: 50%;
background-color: green;
position: relative;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 20px;
}

.order-tracking__circle span{
position: absolute;
left: 30px;
white-space: nowrap;
font-style: italic;
font-size: 18px;
}

.order-tracking__line{
border-left: 4px solid green;
position: absolute;
left: 8px;
height: 80px;
}

/*Отзывы к товарам */
.product-comments{
    margin-top: 50px;
}

.product-comments__comment{
    border-top: 1px solid gray;
}

.product-comments > p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.product-comments__comment .comment_signature{
    font-style: italic;
    display: inline-block;
}

.product-comments__comment .comment_date{
    font-style: italic;
    margin-left: 280px;
    padding-bottom: 10px;
    display: inline-block;
}

.product-comments__comment .comment_rating{
    margin-left: 50px;
    display: inline-block;
    font-size: 24px;
    color: gray;
}

.product-comments__comment .comment_header {
    font-weight: bold;
}

/*рейтинги к товарам */
.product_ratings {
    margin-top: 10px;
}
/*оценка к товару */
.product_evaluation {
    margin-top: 10px;
}

.product_evaluation span {
    margin-left: 15px;
}

/* оформление заказа */

.table-ordering_info td {
    padding-right: 20px;
}

.table-ordering {
    width: 70%;
    margin: 10px;
    border-spacing: 10px;
}

.table-ordering td {
    white-space: nowrap;
}

.table-ordering td a {
    color:#283b7e;
    padding-right: 20px;
}

.ordering__product_image {
    width: 10%;
    height: 10%;
}

/* формы оформления заказа */

.ordering_form {
    width: 500px;
    padding: 31px;
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 0 4px 16px #a7a5a5;
    border-radius: 12px;
    font-family: sans-serif;
}

.ordering_form input {
    width: 100%;
    padding-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-radius: 4px;
    box-shadow: 1px 3px 15px lightblue;
}

.ordering_form label {
    font-size: 17px;
}

.ordering_form input[type="submit"] {
    margin-top: 18px;
    margin-left: 80px;
    width: 60%;
    background-color: #B0E0E6;
    border-radius: 8px;
    font-size: 17px;
}

.ordering_form input[type="submit"]:hover {
    background-color: #87CEFA;
}

.ordering_form textarea {
    resize: none;
    width: 100%;
    box-shadow: 1px 3px 15px lightblue;
}

/* форма правки данных пользователя в личном кабинете */
.edit_customer_profile_form,
.edit_delivery_address_profile_form {
    width: 500px;
    padding: 31px;
    margin-top: 30px;
    box-shadow: 0 4px 16px #ccc;
    border-radius: 12px;
    font-family: sans-serif;
}

.edit_customer_profile_form p,
.edit_delivery_address_profile_form p {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;

}

.edit_customer_profile_form input,
.edit_delivery_address_profile_form input {
    padding-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-radius: 4px;
    box-shadow: 1px 3px 15px lightblue;
    margin-right: 20px;
}

.edit_customer_profile_form label,
.edit_delivery_address_profile_form label {
    font-size: 17px;
    flex: 1;
    margin-right: 10px;
}

.edit_customer_profile_form .bool_field_profile_form {
    margin-right: 80px;
}

.edit_customer_profile_form input[type="submit"],
.edit_delivery_address_profile_form input[type="submit"] {
    margin-top: 18px;
    margin-left: 100px;
    width: 60%;
    background-color: #B0E0E6;
    border-radius: 8px;
    font-size: 17px;
}

.edit_customer_profile_form input[type="submit"]:hover,
.edit_delivery_address_profile_form input[type="submit"]:hover {
    background-color: #87CEFA;
}

/* Форма входа в личный кабинет пользователя, форма восстановления пароля */

.login_form,
.reset_password_form {
    width: 400px;
    padding: 31px;
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 0 4px 16px #7a7979;
    border-radius: 12px;
    font-family: sans-serif;
    
}

.login_form input,
.reset_password_form input{
    width: 100%;
    padding-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-radius: 4px;
    box-shadow: 1px 3px 15px lightblue;
}

.login_form label,
.reset_password_form label {
    font-size: 17px;
}

.login_form input[type="submit"],
.reset_password_form input[type="submit"] {
    margin-top: 18px;
    margin-left: 80px;
    width: 60%;
    background-color: #B0E0E6;
    border-radius: 8px;
    font-size: 17px;
}

.login_form input[type="submit"]:hover,
.reset_password_form input[type="submit"]:hover {
    background-color: #87CEFA;
}

.login_form textarea {
    resize: none;
    width: 100%;
    box-shadow: 1px 3px 15px lightblue;
}

.login_other {
    margin-left: 50px;
    margin-top: 30px;
}

.login_other p:nth-child(2) {
    font-weight: bold;
}

.login_other a {
    color: rgb(11, 48, 63);
}

.login_other a:hover {
    color: rgb(151, 106, 9);
}

/* Форма регистрации пользователя */

.register_form {
    width: 500px;
    padding: 31px;
    margin-top: 30px;
    margin-left: 50px;
    box-shadow: 0 4px 16px #747373;
    border-radius: 12px;
    font-family: sans-serif;
}

.register_form p:nth-child(10) {
    display: flex;
    justify-content: flex-end;
    margin-left: 15px;
}

.register_form input {
    width: 99%;
    padding-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-radius: 4px;
    box-shadow: 1px 3px 15px lightblue;
    margin-right: 20px;
    margin-bottom: 5px;
    flex: 1;
}

.register_form label {
    font-size: 17px;
    flex: 4;
}

.register_form input[type="submit"] {
    margin-top: 18px;
    margin-left: 80px;
    width: 60%;
    background-color: #B0E0E6;
    border-radius: 8px;
    font-size: 17px;
}

.register_form input[type="submit"]:hover {
    background-color: #87CEFA;
}

.register_form .bool_field_register {
    background-color: red;
    margin-right: 10px;
}

/*Форма для написания комментариев */

.product-write_comment form {
    width: 420px;
    padding: 31px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 16px #8d8b8b;
    border-radius: 12px;
}

.product-write_comment form select {
    font-size: 16px;
}

.product-write_comment form input {
    width: 100%;
    padding-top: 5px;
    font-size: 17px;
    padding-bottom: 5px;
    border-radius: 4px;
    box-shadow: 1px 3px 15px lightblue;
}

.product-write_comment form label {
    font-size: 17px;
}

.product-write_comment form input[type="submit"] {
    margin-top: 18px;
    margin-left: 80px;
    width: 50%;
    background-color: #B0E0E6;
    border-radius: 8px;
    font-size: 17px;
}

.product-write_comment form input[type="submit"]:hover {
    background-color: #87CEFA;
}

.product-write_comment form textarea {
    resize: none;
    width: 100%;
    box-shadow: 1px 3px 15px lightblue;
}

/*Форма изменения пароля */
.password_change_form {
    width: 420px;
    padding: 31px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 16px #ccc;
    border-radius: 12px;
}

.password_change_form input {
    width: 100%;
    padding-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-radius: 4px;
    box-shadow: 1px 3px 15px lightblue;
}

.password_change_form label {
    font-size: 17px;
}

.password_change_form input[type="submit"] {
    margin-top: 18px;
    margin-left: 80px;
    width: 50%;
    background-color: #B0E0E6;
    border-radius: 8px;
    font-size: 17px;
}

.password_change_form input[type="submit"]:hover {
    background-color: #87CEFA;
}

/*Отмена подчеркивания у ссылок */
a {
    text-decoration: none;
}
