{% extends "layout/basic.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index-slider.css' %}">
<h2>Это главная страница</h2>
<div class="main">
    <div class="main__slider">
        <div class="flipping">
            <div class="main__slider-prev">
                <svg class="arrow-left" viewbox="0 0 60 100">
                    <path d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" />
                </svg>
            </div>
            <div class="main__slider-next">
                <svg class="arrow-right" viewbox="0 0 60 100">
                    <path d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z" />
                </svg>
            </div>
        </div>
        <div class="main__slider-wrapper">
            <div class="main__slider-inner">
                <div class="main__slide">
                    <img src="{% static 'img/kand_slide1.png'%}">
                </div>
                <div class="main__slide">
                    <img src="{% static 'img/kand_slide2.png'%}">
                </div>
                <div class="main__slide">
                    <img src="{% static 'img/kand_slide4.png'%}">
                </div>
                <div class="main__slide">
                    <img src="{% static 'img/kand_slide5.png'%}">
                </div>
                <div class="main__slide">
                    <img src="{% static 'img/kand_slide7.png'%}">
                </div>
                <div class="main__slide">
                    <img src="{% static 'img/kand_slide6.png'%}">
                </div>
            </div>
        </div>
        <ol class="dots">
        </ol>
    </div>
</div>
<script src="{% static 'js/index-slider.js' %}"></script>
{% endblock %}