{% extends "layout/basic.html" %}
{% load bootstrap5 %}
{% block title %}Вход{% endblock %}
{% block content %}
<p class="pages_route">
    <a href="{% url 'index' %}">Главная</a> > <a href="{% url 'login' %}">Вход в личный кабинет</a>
</p>
<h2>Вход в личный кабинет</h2>
{% if user.authenticated %}
<p>Вы уже выполнили вход! </p>
{% else %}
<form class="login_form" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Войти">
</form>
<div class="login_other">
    <p><a href="{% url 'password_reset' %}">Забыл пароль</a></p>
    <p><a href="{% url 'register' %}">У меня еще нет аккаунта</a></p>
</div>
{% endif %}
{% endblock %}