{% extends "layout/basic.html" %}
{% load bootstrap5 %}
{% block title %}Вход{% endblock %}
{% block content %}
<p class="pages_route">
    <a href="{% url 'index' %}">Главная</a> > <a href="{% url 'login' %}">Вход в личный кабинет</a>
</p>
<h2>Вход в личный кабинет</h2>
{% if user.authenticated %}
<p>Вы уже выполнили вход! </p>
{% else %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <input type="hidden" name="next" value="{{next}}">
    {% buttons submit='Войти' %}
    {% endbuttons %}
</form>
<p><a href="{% url 'password_reset' %}">Забыл пароль</a></p><br>
<a href="{% url 'register' %}">У меня еще нет аккаунта</a>

{% endif %}
{% endblock %}