{% extends "layout/basic.html" %}
{% load bootstrap5 %}
{% block title %}Изменение пароля{% endblock %}
{% block content %}
<p class="pages_route">
    <a href="{% url 'index' %}">Главная</a> >
    <a href="{% url 'login' %}">Вход в личный кабинет</a> >
    <a>Изменение пароля</a>
</p>
<h2>Изменение пароля пользователя {{ user.username }}</h2>
<form class="password_change_form" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Изменить пароль">
</form>
{% endblock %}