{% extends "layout/basic.html" %}
{% load static %}
{% block title %}Подкатегории товаров{% endblock %}
{% block content %}
{% with category=product_subcategories_queryset.0.category %}
<p class="pages_route">
    <a href="{% url 'index' %}">Главная</a> >
    <a href="{{category.fishing_season.get_absolute_url}}">{{category.fishing_season}}</a> >
    <a href="{{category.get_absolute_url}}">{{category}}</a>
</p>
<h2 class="subcategories_name">{{category}}</h2>
{% endwith %}
<div class="subcategories">
    {% for product_subcategory in product_subcategories_queryset %}
    <a class="subcategories__link" href="{{product_subcategory.get_absolute_url}}">
        <!--<a class="subcategories__link"
          href="{% url 'products' product_subcategory.category.fishing_season.fishing_season_slug product_subcategory.category.category_slug product_subcategory.subcategory_slug %}">-->
            <img class="subcategories__image" src="{{product_subcategory.subcategory_image.url}}">
            <div class="subcategories__label">{{product_subcategory.subcategory_name}}</div>
    </a>
    {% endfor %}
</div>
{% endblock %}