{% extends "layout/basic.html" %}
{% load static %}
{% block title %}Товары{% endblock %}
{% load my_template_filters %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/product-filter.css' %}">
{% with subcategory=current_products_queryset.0.subcategory %}
{% with category=subcategory.category %}
<p class="pages_route">
    <a href="{% url 'index' %}">Главная</a> >
    <a href="{{category.fishing_season.get_absolute_url}}">{{category.fishing_season}}</a> >
    <a href="{{category.get_absolute_url}}">{{category}}</a> >
    <a href="{{subcategory.get_absolute_url}}">{{subcategory}}
        {% if category.category_name == 'Удилища' and category.fishing_season.fishing_season_name == 'Летняя рыбалка' or category.category_name == 'Катушки' and subcategory.subcategory_name != 'Запчасти для катушек' %}
        <span class="lowercase_category">{{category}}</span>
        {% endif %}
    </a>
</p>
<h2 class="products_name">{{subcategory}}
    {% if category.category_name == 'Удилища' and category.fishing_season.fishing_season_name == 'Летняя рыбалка' or category.category_name == 'Катушки' and subcategory.subcategory_name != 'Запчасти для катушек' %}
    <span class="lowercase_category">{{category}}</span>
    {% endif %}
</h2>
{% endwith %}
{% endwith %}
<div class="products-sorted">
    <select name="sort" id="sort">
        <option selected value="popular">Популярные</option>
        <option value="price">Сначала недорогие</option>
        <option value="-price">Сначала дорогие</option>
        <option value="new">Сначала новинки</option>
        <option value="discussed">Обсуждаемые</option>
        <option value="rating">По рейтингу</option>
    </select>
</div>
<div class="products-wrap product-wrap">
    <div class="products-list product-list">
        {% for product in current_products_queryset %}
        <div class="products-list__item product-list__item" data-price="{{product.price}}" 
        data-count_buyproduct="{{product.count_buyproduct}}" data-count_comments="{{product.count_comments}}"
        data-rating="{{product.avg_evaluation|default:0}}" data-supply_date="{{product.supply_date}}">
            <a href="{{product.get_absolute_url}}">
                <img class="image-product" src="{{product.image.url}}">
                <div class="products__item-name">{{product.name}}</div>
            </a>
            <div class="products-list__item-parameters">
                <div class="products__item-manufacturer product__item-manufacturer">
                    Производитель: <span>{{product.manufacturer.manufacturer_name}}</span>
                </div>
                {% for p in product.productparametervalue_set.all%}
                {% if p.product_param_value_int %}
                <div class="product__item-{{p.product_param.product_param_slug}}">{{p.product_param}}:
                    <span>{{p.product_param_value_int}}</span>
                    {% if p.product_param_measure_unit %} {{p.product_param_measure_unit}} {% endif %}
                </div>
                {% endif %}
                {% if p.product_param_value_float %}
                <div class="product__item-{{p.product_param.product_param_slug}}">{{p.product_param}}:
                    <span>{{p.product_param_value_float|formatted}}</span>
                    {% if p.product_param_measure_unit %} {{p.product_param_measure_unit}} {% endif %}
                </div>
                {% endif %}
                {% if p.product_param_value_str %}
                <div class="product__item-{{p.product_param.product_param_slug}}">{{p.product_param}}:
                    <span>{{p.product_param_value_str}}</span>
                </div>
                {% endif %}
                {% endfor %}
                <div class="{{product.subcategory.category.category_slug}}__item-price product__item-price">
                    <span>{{product.price}}</span> &#8381;
                </div>
            </div>
            <div class="product_ratings">
                {% comment %}
                {% with products_evaluations_values=products_evaluations|get_dict_value:product %}
                {% if products_evaluations_values %}
                ⭐ {{products_evaluations_values.0}}
                <span>&#x1F5E8;</span>
                {{products_evaluations_values.1}} {{products_evaluations_values.1|rus_plural:"отзыв, отзыва, отзывов"}}
                {% endif %}
                {% endwith %}
                {% endcomment %}

                {% if product.avg_evaluation %}
                ⭐ {{product.avg_evaluation}}
                <span>&#x1F5E8;</span>
                {{product.count_comments}} {{product.count_comments|rus_plural:"отзыв, отзыва, отзывов"}}
                {% endif %}
            </div>
            <div class="products_basket">
                {% if product.pk not in basket_products_ids_list %}
                <a href="{% url 'basket_add' product_id=product.pk %}">
                    <button class="add_to_basket">В корзину</button>
                </a>
                {% else %}
                <a href="{% url 'basket_detail' %}">
                    <button class="already_in_basket">В корзине</button>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="empty-product-list">
            <p>Не найдено ни одного подходящего товара. Попробуйте изменить параметры фильтра.</p>
        </div>
    </div>
    <div class="products-filter product-filter">
        <div class="products-filter__header product-filter__header">Фильтр</div>
        <div class="products-filter__price product-filter__label">
            <p>Цена</p>
            <div class="price-input product-filter__input">
                <div class="price-field product-filter__field">
                    <span>Мин.</span>
                    <input type="number" class="input-min" placeholder="{{min_price}}">
                </div>
                <div class="separator">-</div>
                <div class="price-field product-filter__field">
                    <span>Макс.</span>
                    <input type="number" class="input-max" placeholder="{{max_price}}">
                </div>
            </div>
            <div class="price-slider slider">
                <div class="price-progress progress"></div>
            </div>
            <div class="price-range-input range-input">
                <input type="range" class="price-range-min range-min" min="{{min_price}}" max="{{max_price}}" value="{{min_price}}">
                <input type="range" class="price-range-max range-max" min="{{min_price}}" max="{{max_price}}" value="{{max_price}}">
            </div>
        </div>

        <div class="products-filter__manufacturer product-filter__manufacturer">
            <p>Производитель</p>
            <div class="checkboxes">
                {% for current_manufacturer in current_manufacturers %}
                <label class="manufacturer-label"><input type="checkbox"><span>{{current_manufacturer}}</span></label>
                {% endfor %}
            </div>
        </div>

        {% for p, p_vals in products_params_str.items %}
        <div class="products-filter__{{p.product_param_slug}} product-filter__checkbox">
            <p class="checkboxName" data-paramcheckbox="{{p.product_param_slug}}">{{p.product_param_name}}</p>
            <div class="checkboxes">
                {% for p_val in p_vals %}
                <label class="{{p.product_param_slug}}-label"><input type="checkbox"><span>{{p_val}}</span></label>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        {% for p, p_vals in products_params_min_max.items %}
        {% if p_vals.0 != p_vals.1 %}
        <div class="product-filter__label">
            <p class="rangeName" data-paramrange="{{p.product_param_slug}}">{{p.product_param_name}}</p>
            <div class="{{p.product_param_slug}}-input product-filter__input">
                <div class="{{p.product_param_slug}}-field product-filter__field">
                    <span>Мин.</span>
                    <input type="number" class="input-min" placeholder="{{p_vals.0}}">
                </div>
                <div class="separator">-</div>
                <div class="{{p.product_param_slug}}-field product-filter__field">
                    <span>Макс.</span>
                    <input type="number" class="input-max" placeholder="{{p_vals.1}}">
                </div>
            </div>
            <div class="{{p.product_param_slug}}-slider slider">
                <div class="{{p.product_param_slug}}-progress progress"></div>
            </div>
            <div class="{{p.product_param_slug}}-range-input range-input" data-rangeminmax="{{p_vals|join:' '}}">
                <input type="range" class="{{p.product_param_slug}}-range-min range-min" min="{{p_vals.0}}" max="{{p_vals.1}}" value="{{p_vals.0}}">
                <input type="range" class="{{p.product_param_slug}}-range-max range-max" min="{{p_vals.0}}" max="{{p_vals.1}}" value="{{p_vals.1}}">
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/product-filter.js' %}"></script>
<script src="{% static 'js/scroll_save.js' %}"></script>
{% endblock %}