{% extends "layout/basic.html" %}
{% load static %}
{% block title %}Подробности товара{% endblock %}
{% load my_template_filters %}
{% block content %}
{% with subcategory=product.subcategory %}
<p class="pages_route">
    <a href="{% url 'index' %}">Главная</a> >
    <a href="{{subcategory.category.fishing_season.get_absolute_url}}">{{subcategory.category.fishing_season}}</a> >
    <a href="{{subcategory.category.get_absolute_url}}">{{subcategory.category}}</a> >
    <a href="{{subcategory.get_absolute_url}}">{{subcategory}}
        <span class="lowercase_category">{{subcategory.category}}</span>
    </a> >
    <a href="{{product.get_absolute_url}}">{{product}}</a>
</p>
{% endwith %}
<div class="product">
    <div class="product-header">
        <div class="product-header__item-left">
            <div class="product-name">{{product.name}}</div>
            {% if product_evaluation_average %}
            <div class="product_evaluation">
                ⭐ {{product_evaluation_average}}
                <span>&#x1F5E8; {{evaluation_count}} {{evaluation_count|rus_plural:"отзыв, отзыва, отзывов"}}</span>
            </div>
            {% endif %}
            <div>
                <img class="image-product-in" src="{{product.image.url}}">
            </div>
            <div class="images-product-other">
                {% for img in product.additional_product_image.all %}
                <img class="images-product-other__item" src="{{img.add_product_image.url}}">
                {% endfor %}
            </div>
        </div>
        <div class="product-header__item-right">
            <div class="product-price">Цена: {{product.price}} руб</div>
            <a href="{% url 'basket_add' product_id=product.pk %}"><button class="add_to_basket">В корзину</button></a>
        </div>
    </div>
    <div class="product-descr">Подробное описание
        <div class="product-descr__in">{{product.description}}</div>
    </div>
    <div class="product-details">Характеристики товара
        <ul class="product-details__in">
            <li>Производитель: {{product.manufacturer}}</li>
            <li>Артикул: {{product.slug}} </li>
            {% for p in product.productparametervalue_set.all %}
                {% if p.product_param_value_int %}
                <li>{{p.product_param}}: {{p.product_param_value_int}} {{p.product_param_measure_unit}}</li>
                {% endif %}
                {% if p.product_param_value_str %}
                <li>{{p.product_param}}: {{p.product_param_value_str}}</li>
                {% endif %}
                {% endfor %}

        </ul>
    </div>
    {% if not user_comment and user.is_authenticated %}
    <div class="product-write_comment">
        <p>Написать отзыв</p>
        <form method="post">
            {{comment_form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Отправить">
        </form>
    </div>
    {% endif %}

    <div class="product-comments">
        {% if product_evaluation_average %}
        <p>Все отзывы к товару</p>
        {% for comment in product.comment_set.all %}
        <div class="product-comments__comment">
            <p class="comment_signature">{{comment.customer.first_name}}</p>
            <p class="comment_date">{{comment.comment_date}}</p>
            <p class="comment_rating" data-comment_rating="{{comment.evaluation}}"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>{{comment.evaluation}}</p>
            <p class="comment_header">{{comment.title}}</p>
            <p class="comment_text">{{comment.comment_text}}</p>
        </div>
        {% endfor %}
        {% else %}
        <p>Отзывов пока еще нет</p>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/comment_star_rating.js' %}"></script>
{% endblock %}