{% extends "layout/basic.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}
<p class="pages_route">
    <a href="{% url 'index' %}">Главная</a> > <a href="{% url 'profile' %}">Личный кабинет</a>
</p>
<div class="customer-hello">
  <h2>Личный кабинет</h2>
  {% if user.first_name %}
  <p>Здравствуйте, {{user.first_name}}, добро пожаловать в Ваш личный кабинет!</p>
  {% else %}
  <p>Здравствуйте, добро пожаловать в Ваш личный кабинет!</p>
  {% endif %}
</div>
<div class="customer-personal">
  <h3>Личные данные</h3>
  <ul>
    <li>Контактное лицо: &nbsp;{% if user.last_name %} {{user.last_name}} {% endif %} 
      {% if user.first_name %}{{user.first_name}} {% endif %} 
      {% if user.patronymic %}{{user.patronymic}} {% endif %}
        {% if not user.last_name and not user.first_name and not user.patronymic %} не заполнено {% endif %}
    </li>
    <li>Номер телефона:  &nbsp;{{user.phone_number|default:"не заполнено"}} </li>
    <li>Электронная почта: &nbsp;{{user.email|default:"не заполнено"}} </li>
  </ul>
  <a href="{% url 'edit_customer_profile' %}"><button class="edit_profile">Редактировать</button></a>
</div>
<div class="customer-delivery">
    <h3>Данные для доставки</h3>
    <table class="table-customer-delivery">
        <tbody>
            <tr>
                <td>Город: </td>
                <td>{{ customer.city|default:"не заполнено" }}</td>
            </tr>
            <tr>
                <td >Почтовый индекс:</td>
                <td>{{ customer.postcode|default:"не заполнено" }}</td>
            </tr>
            <tr>
                <td>Регион:</td>
                <td>{{ customer.region|default:"не заполнено" }}</td>
            </tr>
            <tr>
                <td>Адрес доставки:</td>
                <td>{{ customer.delivery_address|default:"не заполнено" }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'edit_delivery_address_profile' %}"><button class="edit_profile">Редактировать</button></a>
</div>

<div class="customer-orders">
  <h3>Заказы</h3>
  {% if orders %}
  <table class="table-orders">
    <thead>
      <tr>
        <th>Номер заказа </th>
        <th>Количество товаров, шт.</th>
        <th>Общая стоимость, &#8381;</th>
        <th>Статус заказа</th>
        <th>Дата и время статуса заказа</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td><a class="table-orders__link" href="{% url 'order_tracking' order.id %}">{{order.id}}</a></td>
        <td>{{order.products_count}}</td>
        <td>{{order.sum_products_price}}</td>
        <td>{{order.buystep_set.all.0.step}}</td>
        <td>{{order.buystep_set.all.0.step_begin_datetime}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Заказов пока еще нет</p>
  {% endif %}
</div>

{% endblock %}