{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="base-wrap">
    <div class="navbar">
        <a class="about" href="">О магазине</a>
        <a class="contacts" href="">Контакты</a>
        <a class="faq" href="">FAQ</a>
        {% if user.is_authenticated %}
        <a class="profile" href="{% url 'profile' %}">Личный кабинет</a>
        <a class="logout" href="{% url 'logout' %}">Выход</a>
        {% else %}
        <a class="login" href="{% url 'login' %}">Вход</a>
        {% endif %}
    </div>
    <div class="header">
        <div class="header__logo"><a href="{% url 'index' %}"><img src="{% static 'img/kand_main_label.png'%}"></a>
        </div>
        <div class="header__text">Рыболовный интернет-магазин</div>
    </div>
    <div class="menu">
        {% for fs in fishing_seasons %}
        <a class="menu__item" href="{{fs.get_absolute_url}}">{{fs.fishing_season_name}}</a>
        {% endfor %}
        <a class="menu__item" href="{% url 'brands' %}">Бренды</a>
        {% if basket|length > 0 %}
        <a class="menu__basket" href="{% url 'basket_detail' %}">
            <div class="menu__basket_photo">
            <img src="{% static 'img/basket6.png'%}">
                <span>{{ basket|length }}</span>
            </div>
            {% if basket|length == 1 %}
            товар на {{ basket.get_total_price }} &#8381;
            {% else %}
            товаров на {{ basket.get_total_price }} &#8381;
            {% endif %}
        </a>
        {% else %}
        <a class="menu__basket" href="{% url 'basket_detail' %}"><img src="{% static 'img/basket6.png'%}">Корзина пуста</a>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
    <div class="footer">
        &copy; Марлян В.О., 2023 &mdash; 2024 Все права защищены.
    </div>
    </footer>
</body>
</html>